Repository techeer-sv/ITDDAN_GetDesign, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ITDDAN-py-reviewer, @ITDDAN-java-reviewer, @ITDDAN-js-reviewer, @ITDDAN-go-reviewer, @ITDDAN-devops-reviewer

.github/CODEOWNERS:

# 🔍 CODEOWNERS - 언어별 리뷰어 자동 할당
# 각 언어별로 전문 리뷰어를 지정하여 코드 품질을 관리합니다.
#
# 사용법:
# 1. @username 형태로 GitHub 사용자명을 입력하세요
# 2. @org/team-name 형태로 조직의 팀을 지정할 수도 있습니다
# 3. 여러 리뷰어를 지정하려면 공백으로 구분하세요

# 🐍 Python 파일들
*.py                    @ITDDAN-py-reviewer
**/*.py                 @ITDDAN-py-reviewer

# ☕ Java 파일들
*.java                  @ITDDAN-java-reviewer
**/*.java               @ITDDAN-java-reviewer

# 🚀 JavaScript/TypeScript 파일들
*.js                    @ITDDAN-js-reviewer
*.ts                    @ITDDAN-js-reviewer
**/*.js                 @ITDDAN-js-reviewer
**/*.ts                 @ITDDAN-js-reviewer


# 🐹 Go 파일들
*.go                    @ITDDAN-go-reviewer
**/*.go                 @ITDDAN-go-reviewer

# 📦 패키지 관리 파일들
package.json            @ITDDAN-js-reviewer @ITDDAN-devops-reviewer
package-lock.json       @ITDDAN-js-reviewer
requirements.txt        @ITDDAN-py-reviewer @ITDDAN-devops-reviewer
Pipfile                 @ITDDAN-py-reviewer @ITDDAN-devops-reviewer
pom.xml                 @ITDDAN-java-reviewer @ITDDAN-devops-reviewer
build.gradle            @ITDDAN-java-reviewer @ITDDAN-devops-reviewer
go.mod                  @ITDDAN-go-reviewer @ITDDAN-devops-reviewer
go.sum                  @ITDDAN-go-reviewer @ITDDAN-devops-reviewer

added linter and its test in CI
  .github/workflows/coding-test.yml
  README.md
  lint-python
  scripts/lint_python.sh
Owners: none

fixed CI yaml
  .github/workflows/coding-test.yml
Owners: none

fixed java linter job in CI
  .github/workflows/coding-test.yml
  checkstyle.xml
Owners: none

added sample code
  FizzBuzz.java
  fizzbuzz.go
  fizzbuzz.js
  fizzbuzz.py
Owners: @ITDDAN-java-reviewer, @ITDDAN-go-reviewer, @ITDDAN-js-reviewer, @ITDDAN-py-reviewer

test
  two_sum copy.py
Owners: @ITDDAN-py-reviewer
